/* Estilos personalizados */
.navbar {
    background: linear-gradient(to right, #e50914, #b81c24); /* Gradiente de color similar a Netflix */
}

.jumbotron {
    background-image: linear-gradient(to bottom, #221f1f, #090808); /* Gradiente de color similar a Netflix */
    color: #ffffff;
    padding: 100px 0; /* Aumenta el espacio interno */
}

.jumbotron h1 {
    font-size: 3.5rem; /* Aumenta el tamaño del título */
}

.jumbotron p {
    font-size: 1.25rem; /* Aumenta el tamaño del texto */
}

.personas-section {
    background: linear-gradient(to right, #221f1f, #090808); /* Gradiente de color similar a Netflix */
    padding: 70px 0;
    color: #ffffff;
    border-top: 1px solid #fff; /* Borde superior */
    border-bottom: 1px solid #fff; /* Borde inferior */
}

.logout-link {
    cursor: pointer; /* Cambia el cursor al hacer hover para indicar que es un enlace */
}
.profile-image {
    width: 1.5rem; /* ajusta este valor según sea necesario */
    height: auto; /* para mantener la proporción de la imagen */
}

.parallax {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    color: white;
}

.hover-zoom:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.social-media a {
    font-size: 1.2rem;
}
