  <!-- Cabecera -->

  <section class="profile-header">
    <div class="container">
      <div class="row align-items-center">
        <!-- Imagen de perfil y nombre de usuario -->
        <div class="col-md-6">
          <div class="profile-image-container ">
            <!-- Imagen de perfil -->
            <img *ngIf="user.image" [src]="user.image" alt="Imagen de perfil" class="img-fluid rounded-circle profile-image" (mouseover)="showOverlay = true" (mouseleave)="showOverlay = false">
            <i *ngIf="!user.image" class="fas fa-user-circle fa-10x text-muted profile-image" (mouseover)="showOverlay = true" (mouseleave)="showOverlay = false"></i>
            <!-- Overlay dentro de la imagen para editar perfil -->
            <a class="overlay" *ngIf="showOverlay" href="#" (click)="editProfile()">Editar perfil</a>
            
          </div>
          <!-- Nombre de usuario -->
          <div class="profile-info">
            <i class="fas fa-fire text-warning float-right"> 
            <h3 class="mb-0">Bienvenido, {{ user.username }}</h3>
            <p class="text">Último inicio de sesión: {{ user.last_login | date }}</p>
            </i>
          </div>
        </div>
        <!-- Botón Ir a Home -->
        <div class="col-md-6 text-right">
          <a routerLink="/home" class="btn btn-primary">Ir a Home</a>
        </div>
      </div>
    </div>
    
  </section>


  <!-- Información del usuario -->

  <section class="profile-info-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- Panel de información del perfil -->
          <p-panel class="ui-panel" header="Mi Perfil">
            <div class="row">
              <!-- Detalles del perfil -->
              <div class="col-md-6">
                <ul class="list-group">
                  <!-- Lista de detalles del usuario -->
                  <li class="list-group-item">
                    <i class="fas fa-user text-primary"></i> Nombre: {{ user.name }} {{ user.last_name }}
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-envelope text-primary"></i> Correo electrónico: {{ user.email }}
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-phone text-primary"></i> Número de celular: {{ user.numero_celular }}
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-birthday-cake text-primary"></i> Edad: {{ user.age }}
                  </li>
                </ul>
              </div>
              <!-- Descripción del perfil -->
              <div class="col-md-6">
                <p class="text-muted">Descripción:</p>
                <p>{{ user.descripcion || 'Sin descripción' }}</p>
              </div>
            </div>
          </p-panel>
          <!-- Botones de acción -->
          <div class="text-center mt-4">
            <button class="btn btn-primary mr-3" (click)="startEditingProfile()" [style]="{ 'background-color': '#ff6f61', 'border-color': '#ff6f61' }">Editar Perfil</button>
            <button class="btn btn-danger" (click)="deleteAccount()" [style]="{ 'background-color': '#ffcc5c', 'border-color': '#ffcc5c' }">Eliminar Cuenta</button>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Formulario de edición del perfil -->
<p-dialog header="Editar Perfil" [responsive]="true" [style]="{width: '500px', height: '600px'}"
  [(visible)]="editingProfile" [modal]="true">
  <!-- Contenido del formulario -->
  <form [formGroup]="editProfileForm" (ngSubmit)="saveProfileChanges()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="username">Nombre de usuario</label>
      <input type="text" formControlName="username" id="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="email" formControlName="email" id="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" formControlName="name" id="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="last_name">Apellido</label>
      <input type="text" formControlName="last_name" id="last_name" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="image">Imagen de perfil</label>
      <input type="file" #fileInput id="image" class="form-control">
    </div>
    
    <div class="form-group">
      <label for="numero_celular">Número de celular</label>
      <input type="text" formControlName="numero_celular" id="numero_celular" class="form-control">
    </div>
    
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
      <button class="btn btn-secondary" (click)="cancelEditingProfile()">Cancelar</button>
    </div>
  </form>
  <!-- Botón para cancelar la edición -->
  
</p-dialog>