/* Estilos generales */
body {
  background-color: #222; /* Fondo oscuro */
  font-family: Arial, sans-serif; /* Fuente predeterminada */
  color: #fff; /* Color de texto principal */
}

.container {
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenido */
  padding: 20px; /* Espaciado interior */
}

/* Estilos de la cabecera */
.profile-header {
  background: linear-gradient(to right, #5e4fb4, #ff6f61); /* Gradiente de color de fondo */
  color: #b40303; /* Color de texto en la cabecera */
  padding: 20px; /* Espaciado interior */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.profile-header h3 {
  margin-bottom: 10px; /* Espaciado inferior */
}

.profile-image-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(255, 111, 97, 0.2); /* Sombra suave con color personalizado */
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos del overlay */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7); /* Fondo translúcido */
  color: #fff; /* Color de texto del overlay */
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.profile-image-container:hover .overlay {
  display: block;
}

/* Estilos de la información del usuario */
.profile-info {
  text-align: center; /* Alineación del texto */
}

.profile-info p {
  margin-bottom: 5px; /* Espaciado inferior */
}

.text-muted {
  color: #777; /* Color de texto atenuado */
}

.text-right {
  text-align: right; /* Alineación del texto a la derecha */
}

.btn {
  margin-right: 10px; /* Margen derecho de los botones */
}

.btn-primary {
  background: linear-gradient(to right, #f00, #ff8000); /* Gradiente de color para botón primario */
}

.btn-primary,
a:hover {
  background-color: #f00; /* Color de fondo del botón primario al hacer hover */
  border-color: #f00; /* Color del borde del botón primario al hacer hover */
}

.btn-primary:hover {
  background: linear-gradient(to right, #3a326e, #ff4438); /* Gradiente de color al hacer hover */
  border-color: #3a326e; /* Color del borde al hacer hover */
}

.btn-danger {
  background: linear-gradient(to left, #f00, #ff8000); /* Gradiente de color para botón peligro */
}
.btn-danger,
a:hover {
  background-color: #f00; /* Color de fondo del botón primario al hacer hover */
  border-color: #f00; /* Color del borde del botón primario al hacer hover */
}

.btn-danger:hover {
  background: linear-gradient(to right, #3a326e, #ff4438); /* Gradiente de color al hacer hover */
  border-color: #3a326e; /* Color del borde al hacer hover */
}

/* Estilos del panel */
.ui-panel {
  background-color: #ff6f61; /* Color de fondo rosa */
  border-color: #ff6f61; /* Color del borde rosa */
  box-shadow: 0 0 10px rgba(255, 111, 97, 0.2); /* Sombra suave rosa */
}

.ui-panel .ui-panel-titlebar {
  
  background-color: #ff6f61; /* Color de fondo rosa para la barra de título */
  border-color: #ff6f61; /* Color del borde rosa para la barra de título */
  color: #0db616; /* Color del texto en la barra de título */
}