/* You can add global styles to this file, and also import other style files */
/* src\styles.css */
/* Estilos para la animación de carga */
#navbar {
  transition: background-color 0.3s ease;
}
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 52, 218, 0.5); /* Fondo semi-transparente */
    z-index: 9999; /* Asegura que la animación esté por encima de otros elementos */
  }
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loader::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader-animation 1.2s linear infinite; /* Animación */
  }
  
  @keyframes loader-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }